<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/Style.css">
   
</head>

<body>
    <header>
        <div class="nav-bar">
            <nav>
                <h2 class="logo">NailPolish</h2>
                <ul>
                    <li> <a href="index.html">home</a></li>
                    <li><a href="login.html">log in</a></li>
                    <li><a href="sign-up.html">sign up</a></li>
                    <li><a href="my-orders.html">my orders</a></li>
                    <li> <a href="/views/salon-nearby.html">salons nearby</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="wrapper">
            <h1>Login</h1>

            <form action="/login" action="post" class="form" id="form_logIn">
                <div class="details-area">

                    <label class="lable" for="email">Email</label>
                    <div class = "msg_logIn"> </div>
                    <input type="email" id="email_logIn" name="email" required>

                    <label class="lable" for="password">Password</label>
                    <input type="password" id="password_logIn" name="password" required>

                    <button type="submit">Find me a salon</button>
                    
                </div></html>

            </form>
        </div>

    </main>

    <footer>
        <div>
            <h2 class="footer__headline">about us:</h2>
            <ul class="footer__list">
                <li>We are the best site that exists <br> today for finding nail salons</li>
            </ul>
        </div>
        <div>
            <h2 class="footer__headline">Follow Us</h2>
            <ul class="footer__list">
                <li>You can find us on Instagram <br>and Facebook</li>
    
            </ul>
        </div>
        <div>
            <h2 class="footer__headline">rights</h2>
            <ul class="footer__list">
                <li>The author of the website is<br> Tali Tarrasch</li>
    
            </ul>
        </div>
    </footer>
    <script src="../static/js.js"></script> 
</body>

</html>